#content, main {
  padding: 0.5em 2em;
}

.yellowBox, .blueBox {
  font-family: $sans-serif;
  display: block;
  box-sizing: border-box;
  border: 1px solid hsl(0, 0%, 20%);
  margin: 0.5em auto;
  width: 100%;
  padding: 1.5em;
  @media (prefers-color-scheme: dark) {
    border: 1px solid $grey-1;
  }
}

.yellowBox + hr, .blueBox + hr {
  margin-top: 1.75em;
}

.yellowBox {
  background: hsl(52, 100%, 85%);
}

.blueBox {
  background: hsl(200, 100%, 95%);
  font-size: 85%;
}
